/* Основное */

@font-face {font-family: Myriad; src: url(8143.otf);}

/*:root {
	--main-first: #183f4e;
	--main-second: #23527c;
	--main-third: #2d5767;
	--main-fourth: #e4a160;
	--main-fifth: #f0bd86;
}*/

/*:root {
	--main-first: #4f5a6e;
	--main-second: #424b5f;
	--main-third: #3a4357;
	--main-fourth: #a7b3cb;
}*/

:root {
	--main-first: #495467;
	--main-second: #e1e5eb;
	--main-third: #3a4357;
	--main-fourth: #3a4357;
}

body {
	margin: 0;
	padding: 55px 0 0 0;
	font: 19px Myriad; /* Arsenal-Bold Helvetica Arial Calibri Avenir Next Regular */
}

hr {border: 1px solid #000; width: 100%;}
a, a:hover, a:active, a:visited {text-decoration: none; color: #000;}
table, tr, td {border: 1px solid #000; border-collapse: collapse;}

/* Отступы */

div, table, tr, td, hr {margin: 0; padding: 0;}

/* Размеры */

/* Позиционирование */

input {display: block;}
body, div, form, td {vertical-align: top;}

/* Формы */

form {width: 100%;}

input, textarea {
	vertical-align: middle;
	width: 100%;
	font-size: 20px;
	border-radius: 15px;
	margin: 7px;
	padding: 7px 10px 7px 10px;
	border: 1px solid #c0c0c0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
} /* background-color: #c0c0c0; */

input[type="submit"] {
	width: calc(100%);
	margin-top: 15px;
	background-color: #c0c0c0;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #fff;
	border: 1px solid #00bfff;
}

textarea:focus, input:focus {outline: none;}

input:hover, input:active, input:focus, textarea, textarea:active, textarea:focus {
	border: 1px solid #00bfff;
	background-color: #fff;
}

input:valid:not(input[type="submit"]) {border: 1px solid #00e600;}

input[type="checkbox"] {
	width: 20px;
	padding: 20px 0 0 0;
}

input[type="file"] {border: 0;}

div, a, input, img, form {
	box-sizing: border-box;
	display: inline-block;
	background: center no-repeat;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

/* Верхняя полоса */

.u-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: var(--main-first); /*#000;*/
	z-index: 75;
}

.u-logo, .u-search, .u-user { /* .u-header > div:not(.u-menu) */
	height: 55px;
	line-height: 55px;
}

.u-logo {
	width: 250px;
	cursor: pointer;
	padding: 0 15px 0 15px;
}

.u-logo img {
	height: 27.5px;
	vertical-align: middle;
}

.u-expand {
	width: calc(100% - 250px);
}

.u-search {
	width: calc(100% - 250px);
	font-size: 18px;
}

.u-user {
	width: 250px;
	color: #fff;
	text-align: right;
	font-size: 18px;
	padding: 0 15px 0 15px;
}

.u-search input {
	width: 100%;
	height: 35px;
	border-radius: 15px;
	padding: 7px 10px 7px 10px;
	background-color: var(--main-first);
	color: var(--main-fourth);
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 18px;
}

::-webkit-input-placeholder {color: var(--main-fourth);}
:-moz-placeholder {color: var(--main-fourth);}
::-moz-placeholder {color: var(--main-fourth);}
:-ms-input-placeholder {color: var(--main-fourth);}

.u-header input:hover, .u-header input:focus {
	background-color: var(--main-third);
	text-align: left;
	color: var(--main-fourth);
}

:hover::-webkit-input-placeholder {color: var(--main-fourth); text-align: center;}
:hover:-moz-placeholder {color: var(--main-fourth); text-align: center;}
:hover::-moz-placeholder {color: var(--main-fourth); text-align: center;}
:hover:-ms-input-placeholder {color: var(--main-fourth); text-align: center;}

:focus::-webkit-input-placeholder {color: var(--main-fourth); text-align: center;}
:focus:-moz-placeholder {color: var(--main-fourth); text-align: center;}
:focus::-moz-placeholder {color: var(--main-fourth); text-align: center;}
:focus:-ms-input-placeholder {color: var(--main-fourth); text-align: center;}

.u-user a {
	color: var(--main-fourth);
}

.u-menu {
	position: fixed;
	left: 0;
	top: 55px;
	width: 250px;
	padding: 15px 15px 15px 15px;
}

.u-menu div {
	width: 100%;
}

.u-menu a {
	padding: 15px;
	width: 100%;
	border-radius: 15px;
	color: var(--main-second);
}

.u-menu a:hover {
	background-color: var(--main-first);
	color: var(--main-fourth);
}


.u-body {
	position: absolute;
	top: 55px;
	left: 250px;
	padding: 15px;
	z-index: 50;
	width: calc(100% - 250px);
}


@media all and (min-width: 1100px) {
	.u-header {
		/*width: 1100px;*/
		padding-left: calc(50% - 550px);
		padding-right: calc(50% - 550px);
	}

	.u-menu {
		left: calc(50% - 550px);
	}

	.u-body {
		left: calc(50% - 200px);
		width: 850px;
	}
}

@media all and (max-width: 700px) {
	.u-logo, .u-search, .u-user {
		width: 100%;
		text-align: center;
	}

	.u-expand {
		position: fixed;
		width: 100%;
		height: calc(100vh - 55px)!important;
		top: 55px;
		left: 0;
		background-color: var(--main-first);
	}

	.u-menu {
		position: static;
		width: 100%;
	}

	.u-menu a {
		color: var(--main-fourth);
		text-align: center;
	}

	.u-body {
		left: 0;
		width: 100%;
	}
}