{% extends "main.html" %}
{% block cont %}

<style>

</style>

<h2 class="title2">Информация</h2>
{% for i in competion.photo %}<img src="/static/load/competions/{{i}}.jpg">{% endfor %}

{{competion.name}} &nbsp; (id: {{competion.id}})<br>
{% if competion.url %}<a href="{{competion.url}}">{{competion.url}}</a><br>{% endif %}<br>
{% if competion.description %}{{competion.description}}<br><br>{% endif %}
{% if competion.cont %}{{competion.cont}}<br>{% endif %}

<h2 class="title2">О соревновании</h2>
{% if competion.type %}{{competion.type}}<br>{% endif %}
{% if competion.stage %}Этап: {{competion.stage}}<br>{% endif %}
{% if competion.quantity %}Количество участников: {{competion.quantity}}<br>{% endif %}
{% if competion.prize %}Главный приз: {{competion.prize}}<br>{% endif %}

<h2 class="title2">Проведение</h2>
{% if competion.time %}Начало: {{competion.time}}<br>{% endif %}
{% if competion.durability %}Длительность: {{competion.durability}}<br>{% endif %}
{% if competion.geo %}Место проведения: {{competion.geo}}<br>{% endif %}

<h2 class="title2">Организатор</h2>
{% if competion.author %}{{competion.author}}<br>{% endif %}
<история соревнований><br>

<h2 class="title2">Ещё</h2>
<список соревнований><br>

{% endblock %}