{% extends "main.html" %}
{% block cont %}

<div class="info" onclick="change(this);">↑ Нажми на лого ↑</div>

<div class="menu">
	<div>Организатор{% for i in organizer %}<a href="?org={{i}}"><div>{{i}}</div></a>{% endfor %}</div><div>Специализация{% for i in specialization %}<a href="?spec={{i}}"><div>{{i}}</div></a>{% endfor %}</div><div id="del">Тип{% for i in type %}<a href="?type={{i}}"><div>{{i}}</div></a>{% endfor %}</div><div id="del">Город{% for i in city %}<a href="?city={{i}}"><div>{{i}}</div></a>{% endfor %}</div><div>Этап{% for i in stage %}<a href="?stage={{i}}"><div>{{i}}</div></a>{% endfor %}</div>
	<div class="c8">
		<form action="search" method="post"><input placeholder="Поиск" name="search"></form>
	</div><div onclick="change(this);" class="c2">
		<div>Расширенный поиск</div>
	</div><div style="display: none;" class="c4">
</div>
</div>

<h2 class="title2">Соревнования</h2>
<div class="notes1">

{% for i in competions %}<a href="competions/{{i.id}}"><div style="background-image: url(static/load/competions/{{i.id}}.jpg);">
	<div class="back">
		<div class="title">
			{{i.name}}
			<div>{{i.author}}</div>
		</div>
	</div>
</div></a>{% endfor %}

</div>

{% endblock %}