{% extends "main.html" %}
{% block cont %}

<div class="info" onclick="change(this);">↑ Нажми на лого ↑</div>

<div class="menu">
	<div>Организатор
		<a href=""><div>Яндекс</div></a>
		<a href=""><div>Mail.Ru</div></a>
		<a href=""><div>CSC</div></a>
		<a href=""><div>Epam</div></a>
		<a href=""><div>Changellenge</div></a>
		<a href=""><div>Google</div></a>
		<a href=""><div>Microsoft</div></a>
		<a href=""><div>Intel</div></a>
	</div><div>Специализация
		<a><div>IT</div></a>
		<a><div>Бизнес-задачи</div></a>
		<a><div>Смешанные</div></a>
	</div><div id="del">Тип
		<a href=""><div>Хакатон</div></a>
		<a href=""><div>Стажировка</div></a>
		<a href=""><div>Конференция</div></a>
		<a href=""><div>Стартап</div></a>
		<a href=""><div>Олимпиада</div></a>
	</div><div id="del">Город
		<a href=""><div>Санкт-Петербург</div></a>
		<a href=""><div>Москва</div></a>
	</div><div>Этап
		<a href=""><div>Отборочный</div></a>
		<a href=""><div>Полуфинал</div></a>
		<a href=""><div>Финал</div></a>
	</div>
</div>

<h2 class="title2">Соревнования</h2>
<div class="notes1">

{% for i in competions %}<a href="competions/{{i.id}}"><div style="background-image: url(static/load/competions/{{i.id}}.jpg);">
	<div class="back">
		<div class="title">
			{{i.name}}
			<div>{{i.author}}</div>
		</div>
	</div>
</div></a>{% endfor %}

</div>

{% endblock %}