{% extends "main.html" %}
{% block cont %}

<div class="info" onclick="change(this);">↑ Нажми на лого ↑</div>

<h2 class="title2"><a href="competions">Соревнования &nbsp; &nbsp; <font color="blue">Смотреть все ></font></a></h2>
<div class="block"><div class="notes1">

{% for i in competions %}<a href="competions/{{i.id}}"><div style="background-image: url(static/load/competions/{{i.id}}.jpg);">
	<div class="back">
		<div class="title">
			{{i.name}}
			<div>{{i.author}}</div>
		</div>
	</div>
</div></a>{% endfor %}

</div></div>

<h2 class="title2"><a href="participants">Участники &nbsp; &nbsp; <font color="blue">Смотреть все ></font></a></h2>
<div class="block"><div class="notes3">

{% for i in users %}<a href="participants/{{i.login}}"><div style="background-image: url(static/{% if i.photo %}load/users/{{i.photo}}{% else %}photo{% endif %}.jpg);"><div class="back">{{i.name}} {{i.surname}}<br> &nbsp; @{{i.login}}<br>{{i.rating}}</div></div></a>{% endfor %}

</div></div>

<!--
<div class="block"><div class="notes2">

{% for i in users %}<a href="participants/{{i.login}}"><div style="background-image: url(static/{% if i.photo %}load/users/{{i.photo}}{% else %}photo{% endif %}.jpg);">
	<div class="back">
		<table>
			<tr>
				<td>{{i.name}} {{i.surname}}<br> &nbsp; @{{i.login}}</td>
				<td>{{i.rating}}</td>
			</tr>
		</table>
	</div>
</div></a>{% endfor %}

</div></div>
!-->

{% endblock %}