{% extends "main.html" %}
{% block cont %}

<div class="info" onclick="change(this);">↑ Нажми на лого ↑</div>

<div class="menu">
	<div>Специализация<a href=""><div>IT</div></a><a href=""><div>Менеджмент</div></a><a href=""><div>Искусство</div></a><a href=""><div>Экономика</div></a><a href=""><div>Химия</div></a><a href=""><div>Физика</div></a><a href=""><div>Математика</div></a><a href=""><div>История</div></a></div><div>Город<a href=""><div>Санкт-Петербург</div></a><a href=""><div>Москва</div></a></div><div>Опыт<a href=""><div>Участие в конкурсах</div></a><a href=""><div>Призовые места</div></a><a href=""><div>Первые места</div></a><a href=""><div>Имеет работу</div></a></div><div id="del">Тип участия<a href=""><div>Хакатон</div></a><a href=""><div>Стажировка</div></a><a href=""><div>Конференция</div></a><a href=""><div>Стартап</div></a><a href=""><div>Олимпиада</div></a></div><div id="del">Рейтинг<a><div>Раздел в разработке</div></a></div>
</div>
<!--
<div class="c7">
	<div class="c8">
		<form action="/sys/search.php" method="post"><input placeholder="Поиск" name="search"></form>
	</div><div onclick="change(this);" class="c2">
		<div>Расширенный поиск</div>
	</div><div style="display: none;" class="c4">
</div></div>
!-->

<h2 class="title2">Участники</h2>
<div class="notes2">

{% for i in users %}<a href="participants/{{i.login}}"><div style="background-image: url(static/{% if i.photo %}load/users/{{i.photo}}{% else %}photo{% endif %}.jpg);">
	<div class="back">
		<table>
			<tr>
				<td>{{i.name}} {{i.surname}}<br> &nbsp; @{{i.login}}</td>
				<td>{{i.rating}}</td>
			</tr>
		</table>
	</div>
</div></a>{% endfor %}

</div>

{% endblock %}